.sudoku-board {
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.9);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.9);
  box-sizing: border-box;
  height: 50vw;
  margin: auto;
  width: 50vw;
}

.board-spaces {
  height: 100%;
  width: 100%;
}

.board-spaces .board-row {
  height: calc(100%/9);
  width: 100%;
  display: flex;
}

.board-row div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
